<%= form_for @account, :url => password_reset_path(params[:id]) do |f| %>
	<% if @account.errors.any? %>
	<div class="error_messages">
		<h2>Form is invalid</h2>
		<ul>
		<% for message in @account.errors.full_messages %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%=f.text_field :password, class: 'form-control', autofocus: true, placeholder: 'New password'%>
	</div>
	<div class="field">
		<%=f.text_field :password_confirmation, class: 'form-control', autofocus: true, placeholder: 'Confirm'%>
	</div>
	<div class="actions"><%= f.submit "Update Password" %></div>
<% end %>

