<%= form_for :person, url: persons_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :skills %><br>
    <%= f.text_field :skills %>
  </p>
 
   <p>
    <%= f.label :expectations %><br>
    <%= f.text_area :expectations %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.label :mail %><br>
    <%= f.text_area :mail %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

