
<%= form_tag("/accounts/login", method: "post") do %>
<%= image_tag("icon_96px.png", :alt => "Connectionboard", :class => "logo") %>
 <div class="row collapse center ">
 	<div class="small-17 columns">
  		<%= email_field :name, nil, :placeholder => 'Username', :class => "form-control", autofocus: true %>
	</div>
</div>

 <div class="row collapse">
 	<div class="small-17 columns">
  		<%= password_field_tag :password, nil, :placeholder => 'Password', :class => "form-control", autofocus: true%>
	</div>

</div>
  <%= submit_tag("Login") %>
<% end %>

